.navbar {
  position: sticky;
  top: 0;
  width: 100%;
  height: 10%;
  z-index: 10;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: #FFCC66; /* Gold color */
  color: #2E2E2E; /* Darker text color for contrast */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.navbarContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  width: 100%;
  padding: 0 1rem;
}

.navList {
  display: flex;
  flex-direction: row;
  list-style: none;
  margin: 0;
}

.navpage {
  color: #2E2E2E; /* Darker shade for better contrast */
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  margin: 0 20px;
  text-decoration: none;
  letter-spacing: 2px;
  font-size: 1.1rem;
  position: relative;
  transition: color 0.3s ease;
}

.navpage:hover {
  color: #FF6F20; /* Sunset Orange on hover */
}

@media (max-width: 768px) {
  .navbar {
    padding: 1rem;
  }
  
  .navbarContainer {
    flex-direction: column;
    align-items: center;
  }

  .navList {
    flex-direction: column;
    margin-top: 0.5rem;
    justify-content: center;
  }

  .navpage {
    margin: 10px 0;
  }
}
